body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

#rangeBouton1, #rangeBouton2{

	margin-bottom: 20px;
}

#pop {

	margin-top: 20px;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

[class*="col-"] {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.container {

	margin-top: 10px;
}

